<div class="container">
  <h1>API Madness</h1>
  <h3> Flicker LightHouse </h3>
  <button class="btn btn-primary btn-lg">View Photos</button>
  <div id="SlideShowContainer">
    <ul class="slide-show">
    </ul> 
  </div>
<div>`